* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**commond**/

body {
    font-family: 'PT Sans', sans-serif;
}

button {
    all: unset
}

.h3blue {
    color: #0084fd;

}

.texticon {
    text-align: center;
    color: #0084fd;
    margin-top: 20px;
}

.grey {
    color: #5a6e7f;
    line-height: 1.5;
    padding-bottom: 30px;
    font-weight: bold;
}

.title h2 {
    font-size: 34px;
}

.icon {
    font-size: 50px;
    margin-top: 30px;
    color: #0084fd;
    text-align: center;
}

/** fine commond**/

/**navbar**/

.nav-right ul li {
    display: inline-block;
    color: white;
}

.fa-bars {
    display: none;
}

.links {
    margin-right: 20px;
}

button {
    padding: 10px 15px;
    background-color: white;
    border-radius: 20px;
    color: black;
}

header nav {
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header {
    background-color: #0084fd;
}

/** finenavbar**/

/**inizio main-top**/
.contenitoremaintop {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.box .h3blue {
    margin-top: 30px;
    margin-left: 25px;
}

.apple {
    background-color: #0084fd;
    padding: 10px 50px;
    color: white;
    margin-bottom: 50px;
    margin-left: 20px;
}

.fa-apple {
    margin-right: 7px;
}

.iphone1,
.iphone {
    width: 70%;
    display: block;
    margin-left: 20px;
}


.flex {
    display: flex;
    align-items: end;
}

.demo {
    width: 50%;
}

.iphone1 {
    width: 40%;
    margin-top: 20px;
}


.demo .grey {
    margin-top: 30px;
    margin-left: 20px;
}



.box {
    width: calc(100%/3 - 10px);
    background-color: #b5ddff;
    margin-right: 10px;
    margin-top: 25px;
    border-radius: 20px;

}

.box2 {
    flex-grow: 1;
    width: calc(100%/2);
}


/** fine main-top**/
/**seconda sezione**/
.sezione2 {
    background-color: #9792e4;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.card {
    width: 30%;
    background-color: #9792e4;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
}

.title {
    margin-top: 350px;
    color: white;
}

.planning1 {
    max-width: 400px;
    position: absolute;
    bottom: 350px;
    left: 5px;

}

.paragrafobox {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 30px 20px;
}


.title p {
    color: white;
    margin-top: 60px;
    line-height: 1.5;
}

.planning2 {
    width: 220px;
}

.boxplanning {

    background-color: white;
    border-radius: 20px;
}

.planningimg {
    text-align: center;
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: #9792e4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
    border-radius: 50%;

}

.planningimg h3 {
    font-size: 24px;
    margin-top: 30px;
}

.planningimg p {
    font-size: 18px;
    line-height: 1.5;
    margin: 30px 40px;
}






/** fine seconda sezione**/
/** inizio terza sezione**/
.sezione3 {
    max-width: 1140px;
    margin: 0 auto;
}

.partners {
    text-align: center;
    margin-top: 50px;
}

.partnersexpert {
    background-color: #9792e4;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    padding: 40px 0;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.imgprofilo{
    width: 200px;
    margin-left: 20px;
    background-image: url(img/testimonial2.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 50%;

}

.imgprofilo2{
    width: 200px;
    margin-left: 20px;
    background-image: url(img/testimonial1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 50%;
}

.imgprofilo3{
    width: 200px;
    margin-left: 20px;
    background-image: url(img/testimonial3.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 50%;
}

.descrizione {
    width: 70%;
    margin-right: 20px;
    margin-left: 50px;
}

.descrizione p,.partners p{
    line-height: 2;
}
.partners h2{
    margin: 30px;
    font-size: 48px;
    color: #aba7e9;
}

.descrizione h3{
    font-size: 20px;
    margin-top: 30px;
}

.partners{
    font-size: 20px
}




.imgprofilo img{
    width: 100%;
    display: block;
    border-radius: 50%
}


/** fine terza sezione**/
/** inizio  quarta sezione**/
.text {
    text-align: center;
    padding-top: 70px;
    font-size: 48px;
    color: white
}

.sezione4 {
    background-color: #9792e4;
    padding-bottom: 60px;
}

.box4 {
    background-color: white;
}

.cardsezione4 h2{
    font-size: 72px;
    margin-top: 50px;
    margin-left: 30px;
    color: #9792e4;
}

.cardsezione4 h3{
    font-size: 24px;
    margin-top: 30px;
    margin-left: 30px;
    color: #9792e4;
}

.cardsezione4 p{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #737373;
    line-height: 2;
}

.more{
    margin-left: 30px;
    padding: 10px 50px;
    background-color: #9792e4;
    border-radius: 20px;
    color: white;
    margin-bottom: 30px;
}



/** fine  quarta sezione**/

/** inizio  quinta sezione**/
.aboutus1 {
    width: 69%;
}

.aboutus2 {
    width: 30%;
    margin-bottom: 100px;
}

.aboutus1 p{
    margin-top: 60px;
    font-size: 20px;
    padding-right: 120px;
    line-height: 2;
}

.aboutus1 h2{
    font-size: 72px;
    color: #9792e4;
}

.imgaboutus{
    width: 200px;
    height: 200px;
    background-image: url(img/about.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.quote{
    position: absolute;
    left: 150px;
    font-size: 70px;
    color:#9792e4; 
}

.aboutus2 h3, .more{
    margin-top: 30px;
}

.aboutus2 h3{
    max-width: 400px;
    line-height: 2;
    color:#9792e4; 
    font-size: 30px;
}

.aboutus2 button{
    margin-left: 0px;
}

.fa-linkedin{
    margin-right: 10px;
}

.more2{
    padding: 10px;
}

.containersection{
    margin-top: 95px;
    margin-bottom: 150px;
}


/** fine  quinta sezione**/
/**inizio footer**/
.piedipagina {
    text-align: center;
    background-color: #9792e4;
    padding-bottom: 60px;
}

.btnfooter{
    background-color: white;
    color:#9792e4; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px 80px;
}


.started{
    padding-top: 60px;
    padding-bottom: 30px;
    color: #bfbcee;
    font-size: 18px;
    font-weight: lighter;
}

.piedipagina p{
    width: 480px;
    margin: 0 auto;
    text-align: start;
}

.piedipagina h3{
    font-size: 48px;
}

.piedipagina h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 96px;
    color: #fdc15f;
}

.linkfooter{
    color: white;
}

.piedipagina h4,.piedipagina h3,.piedipagina h5,
.piedipagina p{
    color: white;
}

.bg {
    background-color: #333333;
    padding: 50px;
}

.bg p{
    width: 480px;
    margin: o auto;
    color: white;
}

/**fine footer**/



/** media queries da 0 a 992px tablet**/
@media screen and (max-width:991px) {
    .fa-bars {
        display: block;
        font-size: 30px;
    }

    .nav-right ul .link {
        display: none;
    }
    .contenitoremaintop {
        padding: 0 20px;
    }

    .box {
        margin-top: 40px;
    }

    .nav-left {
        padding-left: 25px;
    }

    .nav-right {
        padding-right: 30px;
    }

    .sezione2 {
        display: block;
        background-color: #9792e4;
        padding-top: 0px;
        padding: 0 20px;
        padding-bottom: 20px;
    }

    .fa-arrow-down{
        position: relative;
        bottom: 12px;
    }

    .card {
        background-color: #9792e4;
        border: none;
        margin-top: 30px;
        padding-bottom: 80px;
        margin-left: 0px;
        width: 100%;
    }
    .planning1{
       max-width: 400px;
       position: static;
    }

    .planningtablet{
        text-align: center;
    }

    .card div {
        padding-top: 30px;
    }

    .cardcolor {
        background-color: white;
        width: 100%;
    }

    .sezione3 {
        padding: 20px;
    }

    .partnersexpert {
        padding: 20px 0;
    }


    .imgprofilo {
        margin-left: 10px
    }

    .title{
        margin-top: 30px;
        width: 100%;
    }


    .box4 {
        width: calc(100%/2 - 10px);
        background-color: white;
    }


    .aboutus1 {
        width: 50%;
    }

    .piedipagina {
        width: 100%;
    }

    .piedipagina p{
        text-align: center;
    }

    .flex {
        display: block;
    }

    .iphone {
        width: 100%;
        margin-left: 0px;
    }

    .iphone1 {
        margin-left: 0px;
    }

    .demo {
        width: 100%;
    }

    .demo .grey {
        margin-right: 20px;
    }
}

/** media queries da 0 a 576px mobile**/

@media screen and (max-width:576px) {
    header nav {
        width: 100%;
    }

    .card{
        width: 100%;
    }

    .contenitoremaintop {
        display: block;

    }

    .box {
        width: 100%;
    }

    .box2 {
        display: block;

    }

    .box .h3blue {
        text-align: center;
    }

    .box2 div {
        text-align: center;
        width: 100%;
    }

    .sezione2 {
        width: 100%;
    }

    .partnersexpert {
        width: 100%;
        display: block;
        text-align: center;
        padding: 20px 20px;
    }

    .imgprofilo, .imgprofilo2,.imgprofilo3 {
        margin: 0 auto;
    }

    .descrizione {
        width: 100%;
        height: 150px;
        margin-left: 0px;
        margin: 20px 0;
    }

    .sezione3 {
        padding: 0px;
        margin: 0 20px;
    }

    .contenitoremaintop {
        padding-bottom: 30px;
    }

    .aboutus1,
    .aboutus2 {
        width: 100%;
    }

    .aboutus1 p{
        width: 100%;
        padding-right: 0px;
    }

    .aboutus2{
        margin-top: 50px;
    }

    .aboutus2 h3{
        width: 100%;
        font-size: 30px;
    }

    .piedipagina {
        width: 100%;
    }
    
    .bg{
        padding: 50px 0;
    }

}

/**  fine media queries da 0 a 576px**/